<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>eCommerce</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
   </head>
<body>
           <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
<header>
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                    </div>
                                    <ul class="contact-now">
                                        <li>+91-9876543210</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                   <ul>
                                    <li><a href="{{ url_for('logout') }}">Logout({{ session['username'] }})</a></li>
                                    <li><a href="{{ url_for('cart') }}">Cart</a></li>
                                   </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="#"><img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-8 col-md-10 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{{url_for('home')}}">Home</a></li>
                                            <li><a href="{{ url_for('catagories') }}">Catagories</a></li>
                                            <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                            <li><a href="{{ url_for('order')}}">My Orders</a></li>      
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                          <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center" data-background="{{ url_for('static', filename='img/hero/category.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Product Catagories</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Latest Products Start -->
        <section class="latest-product-area latest-padding">
            <div class="container">
                <div class="row product-btn d-flex justify-content-between">
                        <div class="properties__button">
                            <!--Nav Button  -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">clothing</a>
                                    <a class="nav-item nav-link " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">home decors</a>
                                    <a class="nav-item nav-link " id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">watches</a>
                                    <a class="nav-item nav-link " id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">pantry</a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>

                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        
                        {% block content %}
                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                    {% for item in category1 %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single-product mb-60">
                                            <div class="product-img">
                                                <img src="{{ url_for('static', filename='img/categori/'+item['category']+'/'+ item['pid']|string +'.png')}}" alt="">
                                                <div class="new-product">
                                                    {% if item['new'] %}
                                                    <span>New</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="product-caption">
                                                <div class="product-ratting">
                                                    {% if item['rating'] >= 1 %}
                                                    <i class="far fa-star"></i>
                                                    {% else %}
                                                    <i class="far fa-star low-star"></i>
                                                    {% endif %}
    
                                                    {% if item['rating'] >= 2 %}
                                                    <i class="far fa-star"></i>
                                                    {% else %}
                                                    <i class="far fa-star low-star"></i>
                                                    {% endif %}
    
                                                    {% if item['rating'] >= 3 %}
                                                    <i class="far fa-star"></i>
                                                    {% else %}
                                                    <i class="far fa-star low-star"></i>
                                                    {% endif %}
    
                                                    {% if item['rating'] >= 4 %}
                                                    <i class="far fa-star"></i>
                                                    {% else %}
                                                    <i class="far fa-star low-star"></i>
                                                    {% endif %}
    
                                                    {% if item['rating'] >= 5 %}
                                                    <i class="far fa-star"></i>
                                                    {% else %}
                                                    <i class="far fa-star low-star"></i>
                                                    {% endif %}
                                                    <span style="color: gray;">({{item['no_of_ppl']}})</span>
                                                </div>
                                                <h4><a href="{{url_for('single_product_page',pro_id=item['pid'], v_id = item['sellerid'])}}" target="_blank">{{ item['proname'] }}</a></h4>
                                                <div class="price">
                                                    <ul>
                                                        {% if item['disprice'] %}
                                                        <li>{{ item['disprice'] }} INR</li>
                                                        <li class="discount">{{item['price']}} INR</li>
                                                        {% else %}
                                                        <li>{{ item['disprice'] }} INR</li>
                                                        {% endif %}
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                
                            </div>
                        
                        </div>
                        <!-- Card two -->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row">
                                
                                {% for item in category2 %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="{{ url_for('static', filename='img/categori/'+item['category']+'/'+ item['pid']|string +'.png')}}" alt="">
                                            <div class="new-product">
                                                {% if item['new'] %}
                                                    <span>New</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                {% if item['rating'] >= 1 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 2 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 3 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 4 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 5 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}
                                                <span style="color: gray;">({{item['no_of_ppl']}})</span>
                                            </div>
                                            <h4><a href="{{url_for('single_product_page',pro_id=item['pid'], v_id = item['sellerid'])}}" target="_blank">{{ item['proname'] }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    {% if item['disprice'] %}
                                                    <li>{{ item['disprice'] }} INR</li>
                                                    <li class="discount">{{item['price']}} INR</li>
                                                    {% else %}
                                                    <li>{{ item['disprice'] }} INR</li>
                                                    {% endif %}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            
                            </div>
                        
                        </div>
                        <!-- Card three -->
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="row">
                                
                                {% for item in category3 %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="{{ url_for('static', filename='img/categori/'+item['category']+'/'+ item['pid']|string +'.jpg')}}" alt="">
                                            <div class="new-product">
                                                {% if item['new'] %}
                                                    <span>New</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                {% if item['rating'] >= 1 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 2 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 3 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 4 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 5 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}
                                                <span style="color: gray;">({{item['no_of_ppl']}})</span>
                                            </div>
                                            <h4><a href="{{url_for('single_product_page',pro_id=item['pid'], v_id = item['sellerid'])}}" target="_blank">{{ item['proname'] }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    {% if item['disprice'] %}
                                                    <li>{{ item['disprice'] }} INR</li>
                                                    <li class="discount">{{item['price']}} INR</li>
                                                    {% else %}
                                                    <li>{{ item['disprice'] }} INR</li>
                                                    {% endif %}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        
                        </div>
                        <!-- card foure -->
                        <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                            <div class="row">
                            
                                {% for item in category4 %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img src="{{ url_for('static', filename='img/categori/'+item['category']+'/'+ item['pid']|string +'.png')}}" alt="">
                                            <div class="new-product">
                                                {% if item['new'] %}
                                                    <span>New</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="product-caption">
                                            <div class="product-ratting">
                                                {% if item['rating'] >= 1 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 2 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 3 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 4 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}

                                                {% if item['rating'] >= 5 %}
                                                <i class="far fa-star"></i>
                                                {% else %}
                                                <i class="far fa-star low-star"></i>
                                                {% endif %}
                                                <span style="color: gray;">({{item['no_of_ppl']}})</span>
                                            </div>
                                            <h4><a href="{{url_for('single_product_page',pro_id=item['pid'], v_id = item['sellerid'])}}" target="_blank">{{ item['proname'] }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    {% if item['disprice'] %}
                                                    <li>{{ item['disprice'] }} INR</li>
                                                    <li class="discount">{{item['price']}} INR</li>
                                                    {% else %}
                                                    <li>{{ item['disprice'] }} INR</li>
                                                    {% endif %}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                    
                            </div>
                        
                        </div>
                    {% endblock %}   
                                 <!-- End Nav Card -->
            
            </div>
        <!-- </div> -->
        </section>
        <!-- Latest Products End -->

        <!-- Latest Offers Start -->
        <div class="latest-wrapper lf-padding">
            <div class="latest-area latest-height d-flex align-items-center" data-background="{{ url_for('static', filename='img/collection/latest-offer.png')}}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
                            <div class="latest-caption">
                                <h2>Get the<br>Latest products and best Offers</h2>
                                <p>Happy shopping :)</p>
                            </div>
                        </div>
                            <div class="col-xl-5 col-lg-5 col-md-6 ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method Start-->
        <div class="shop-method-area section-padding30">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>Shop and we get them to your place for free !</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Payment</h6>
                            <p>cOD available !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-wrapper lf-padding">
            <div class="gallery-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="gallery-items">
                            <img src="{{ url_for('static', filename='img/gallery/gallery1.jpg')}}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{{ url_for('static', filename='img/gallery/gallery2.jpg')}}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{{ url_for('static', filename='img/gallery/gallery3.jpg')}}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{{ url_for('static', filename='img/gallery/gallery4.jpg')}}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{{ url_for('static', filename='img/gallery/gallery5.jpg')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <footer>
            <!-- Footer Start-->
                <div class="footer-area footer-padding">
                    <div class="container">
                        <div class="row d-flex justify-content-between">
                            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                               <div class="single-footer-caption mb-50">
                                 <div class="single-footer-caption mb-30">
                                      <!-- logo -->
                                     <div class="footer-logo">
                                         <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='img/logo/logo2_footer.png')}}" alt=""></a>
                                     </div>
                                     <div class="footer-tittle">
                                         <div class="footer-pera">
                                             <p>The one stop online destination</p>
                                        </div>
                                     </div>
                                 </div>
                               </div>
                            </div>
         </footer>
                         <script src="{{url_for('static',filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.slicknav.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/slick.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/animated.headline.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.magnific-popup.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.sticky.js')}}"></script>
                         <script src="{{url_for('static',filename='js/contact.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.form.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.validate.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/mail-script.js')}}"></script>
                         <script src="{{url_for('static',filename='js/jquery.ajaxchimp.min.js')}}"></script>
                         <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
                         <script src="{{url_for('static',filename='js/main.js')}}"></script>
             </body>
         </html>