<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Estore</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
   </head>
<body>
           <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
<header>
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                    </div>
                                    <ul class="contact-now">
                                        <li>+91-9876543210</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                   <ul>
                                    <li><a href="{{ url_for('logout') }}">Logout({{ session['username'] }})</a></li>
                                    <li><a href="{{ url_for('cart') }}">Cart</a></li>
                                   </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="#"><img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-8 col-md-10 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{{url_for('home')}}">Home</a></li>
                                            <li><a href="{{ url_for('catagories') }}">Catagories</a></li>
                                            <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                            <li><a href="{{ url_for('order')}}">My Orders</a></li>      
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                          <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header> 
  <!-- Header End -->


    <!-- slider Area Start-->
    <div class="slider-area ">
      <!-- Mobile Menu -->
      <div class="single-slider slider-height2 d-flex align-items-center" data-background="{{ url_for('static', filename='img/hero/category.jpg')}}">
        <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="hero-cap text-center">
                          <h2>Confirmation</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider Area End-->

  <!--================ confirmation part start =================-->
  <section class="confirmation_part section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Thank you. Your order has been received.</span>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>order info</h4>
            <ul>
              <li>
                <p>order number</p><span>: {{details[0]}}</span>
              </li>
              <li>
                <p>date</p><span>: {{details[13]}}</span>
              </li>
              <li>
                <p>Total</p><span>: {{totalprice}} INR</span>
              </li>
              <li>
                <p>Payment methord</p><span>: {{details[12]}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>Billing Details</h4>
            <ul>
              <li>
                <p>Name</p><span>: {{details[1]}} {{details[2]}}</span>
              </li>
              <li>
                <p>company</p><span>: {{details[3]}}</span>
              </li>
              <li>
                <p>Phone Number</p><span>: {{details[4]}}</span>
              </li>
              <li>
                <p>Email Address</p><span>: {{details[5]}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-lx-4">
          <div class="single_confirmation_details">
            <h4>shipping Address</h4>
            <ul>
              <li>
                <!-- Line 1 address -->
                <p>Address</p><span>: {{details[6]}} <br> {{details[7]}}</span>
              </li>
              
              <li>
                <p>Town/City</p><span>: {{details[8]}}</span>
              </li>
              <li>
                <p>District</p><span>: {{details[9]}}</span>
              </li>
              <li>
                <p>postcode</p><span>: {{details[10]}}</span>
              </li>
              <li>
                <p>Order Notes</p><span>: {{details[11]}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>Order Details</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                  <th scope="col">Seller</th>
                </tr>
              </thead>
              <tbody>
                {% for item in carts %}
                <tr>
                  <th colspan="2"> <a href="{{url_for('single_product_page',pro_id=item['pid'], v_id = item['sellerid'])}}"> <span>{{item['proname']}}</span></a></th>
                  <th>x{{item['quantity']}}</th>
                  <th> <span>{{item['totalprice']}} INR</span></th>
                  <th> <span>{{item['seller']}}</span></th>
                </tr>
                {% endfor %}
                  <th colspan="3">Subtotal</th>
                  <th> <span>{{totalprice}}  INR</span></th>
                </tr>
                
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="2">Quantity</th>
                  
                  <th> <span>x{{totalquantity}}</span></th>
                  <th scope="col">Total</th>
                  <th> <span>{{totalprice}}  INR</span></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ confirmation part end =================-->

  <footer>
    <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                       <div class="single-footer-caption mb-50">
                         <div class="single-footer-caption mb-30">
                              <!-- logo -->
                              <div class="footer-logo">
                                <a href="#"><img src="{{ url_for('static', filename='img/logo/logo2_footer.png')}}" alt=""></a>
                              </div>
                             <div class="footer-tittle">
                                 <div class="footer-pera">
                                     <p>The one stop online destination</p>
                                </div>
                             </div>
                         </div>
                       </div>
                    </div>
 </footer>

	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
                <script src="{{url_for('static',filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.slicknav.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/slick.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/animated.headline.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.magnific-popup.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.sticky.js')}}"></script>
                <script src="{{url_for('static',filename='js/contact.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.form.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.validate.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/mail-script.js')}}"></script>
                <script src="{{url_for('static',filename='js/jquery.ajaxchimp.min.js')}}"></script>
                <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
                <script src="{{url_for('static',filename='js/main.js')}}"></script>
         
        
</body>

</html>