<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>eCommerce</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<!-- <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
   </head>
<body>
           <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
<header>
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                    </div>
                                    <ul class="contact-now">
                                        <li>+91-9876543210</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                   <ul>
                                   </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="#"><img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-8 col-md-10 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="#"></a></li>    
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                          <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{{ url_for('static', filename='img/hero/category.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Sign in</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="{{ url_for('signup') }}" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome Back ! <br>
                                Please Sign in now</h3>
                            <form class="row contact_form" action="#" method="POST" novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" name="email" value=""
                                        placeholder="Email">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control"name="password" value=""
                                        placeholder="Password">
                                </div>
                                <div class="form-select" id="default-select category" name = "category">
                                <select name="recipent">
                                    <option value="buyer">Buyer</option>
                                    <option value="seller">Seller</option>
                                    <option value="admin">Admin</option>
                                </select>
                                </div>

                                <div class="col-md-12 form-group">
                                    
                                    <button type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>
                                    
                                    {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <ul class=flashes>
                                        {% for message in messages %}
                                        <li>{{ message }}</li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% endwith %}
                                    <a class="lost_pass" href="forgotPassword">forget password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

    <footer>
        <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                           <div class="single-footer-caption mb-50">
                             <div class="single-footer-caption mb-30">
                                  <!-- logo -->
                                 <div class="footer-logo">
                                     <a href="#"><img src="static/img/logo/logo2_footer.png" alt=""></a>
                                 </div>
                                 <div class="footer-tittle">
                                     <div class="footer-pera">
                                         <p>The one stop online destination</p>
                                    </div>
                                 </div>
                             </div>
                           </div>
                        </div>
     </footer>

<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./static/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/js/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./static/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/js/owl.carousel.min.js"></script>
    <script src="./static/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./static/js/wow.min.js"></script>
    <script src="./static/js/animated.headline.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./static/js/jquery.scrollUp.min.js"></script>
    <script src="./static/js/jquery.nice-select.min.js"></script>
    <script src="./static/js/jquery.sticky.js"></script>
    <script src="./static/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./static/js/contact.js"></script>
    <script src="./static/js/jquery.form.js"></script>
    <script src="./static/js/jquery.validate.min.js"></script>
    <script src="./static/js/mail-script.js"></script>
    <script src="./static/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./static/js/plugins.js"></script>
    <script src="./static/js/main.js"></script>

</body>

</html>
