<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>eCommerce</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <!-- <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"> -->
        
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
   </head>
<body>
           <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
<header>
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <div class="flag">
                                    </div>
                                    <ul class="contact-now">
                                        <li>+91-9876543210</li>
                                    </ul>
                                </div>                  
                                <div class="header-info-right">
                                   <ul>
                                    <li><a href="{{ url_for('logout') }}">Logout({{session['username']}})</a></li>                                                                       
                                    <li><a href="{{ url_for('cart') }}">Cart</a></li>
                                   </ul>
                                </div>                               
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                                <div class="logo">
                                  <a href="#"><img src="{{ url_for('static', filename='img/logo/logo.png')}}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="{{ url_for('home') }}">Home</a></li>
                                            <li><a href="{{ url_for('catagories') }}">Catagories</a></li>
                                            <li><a href="{{ url_for('contact') }}">Contact</a></li>                                          
                                            <li><a href="{{ url_for('order')}}">My Orders</a></li>              
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                          <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="{{ url_for('static', filename='img/hero/category.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>product Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product_image_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="product_img_slide owl-carousel">
            <div class="single_product_img">
                <br> <br> <br> <br><br> <br> <br> <br>
              <img src="{{ url_for('static', filename='img/categori/'+singleproduct[5]+'/'+ singleproduct[0]|string +'.png')}}" alt="#" class="img-fluid">
            </div>
            <div class="single_product_img">
              <img src="{{ url_for('static', filename='img/categori/'+singleproduct[5]+'/'+ singleproduct[0]|string +'.png')}}" alt="#" class="img-fluid">
            </div>
            <div class="single_product_img">
              <img src="{{ url_for('static', filename='img/categori/'+singleproduct[5]+'/'+ singleproduct[0]|string +'.png')}}" alt="#" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="single_product_text text-center">
            <h3>{{singleproduct[1]}} <br><br></h3>
              <h4>Price: {{singleproduct[2]}} INR</h4>
              <br>
              <br>
           {%if reviewed%}
           <h2>You have already given </h2>
             <h2>your review for this product</h2>
           {%else%}
            <div class="card_area">
                <h2>Review Product:</h2>
                <br><br>
                <form action="{{url_for('review', proid=singleproduct[0])}}" method="post">
                  <div class="mt-10">
                    <div class="single-element-widget mt-10">
                      <h6>Rating</h6>
                      <div class="form-select border" id="default-select category"" name = "rating">
                          <select type='number'name="rating">
                              <option value=1>1</option>
                              <option value=2>2</option>
                              <option value=3>3</option>
                              <option value=4>4</option>
                              <option value=5>5</option>
                            
                          </select>
                      </div>
                </div>
                <div class="mt-10">
                  <br>    
                  <h6>Reviews</h6>
                  <textarea class="single-textarea border" name="comment" placeholder="Description" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Product description'" required></textarea>
              </div>
              <br>
              <input type="submit"  name ="btn1" value="Post" class="btn_3 col-lg-3"/>
                </form>
            </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    </div>


    <script src="{{url_for('static',filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.slicknav.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/slick.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/animated.headline.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.magnific-popup.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.scrollUp.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.sticky.js')}}"></script>
    <script src="{{url_for('static',filename='js/contact.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.form.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/mail-script.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.ajaxchimp.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    </body>
    </html>
    